.formulario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: white;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

.formulario input {
  /* Ajusta el ancho para acortar la línea */
  width: 80%;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  background: transparent;
  padding: 8px 0;
  font-size: 16px;
}

.formulario button {
  background-color: #80BE4E;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.formulario button:hover {
  background-color: #6EA43D;
}
